.pivotTable {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.headerRow {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(43, 43, 206);
  color: white;
}

.mainRowDimension, .subRowDimension {
  margin-top: 5px;
}

.mainRowDimension {
  font-weight: 700;
}

.subRowDimension {
  grid-column-start: 2;
}

.subRowDimension > div {
  margin-bottom: 5px;
}

.columnDimensionsHeader, .rowDimensionsHeader {
  background-color: rgb(43, 43, 206);
  padding: 20px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.columnDimensionsColumn {
  background-color:red;
  grid-column-start: 3;
  grid-column-end: 5;
}

.rowDimensionsColumn {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}