.pivotTable {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.rowDimensionsHeader, .columnDimensionsHeader, .pivotTableHeader {
  background-color: rgb(43, 43, 206);
  color: white;
}
.rowDimensionsHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-auto-flow: column;
}

.columnDimensionsHeader {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-auto-flow: column;
}

.headerItem {
  background-color: pink;
  margin-left: 10px;
}

.mainRowDimension, .subRowDimension {
  margin-top: 5px;
}

.mainRowDimension {
  font-weight: 700;
}

.subRowDimension {
  grid-column-start: 2;
}

.subRowDimension > div {
  margin-bottom: 5px;
}

.pivotTableHeader {
  padding: 20px;
  font-weight: 700;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.columnDimensionsColumn {
  background-color:red;
  grid-column-start: 3;
  grid-column-end: 5;
  height:100%;
  width: 100%;
}

.rowDimensionsColumn {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}