/* .pivotTable {
  width: 100%;
} */

.productsHeader {
  background-color: rgb(116, 116, 255);
}

.statesHeader {
  background-color:burlywood;
}

tr {
  border: 1px solid green;
  background-color: purple;
}

td {
  border: 1px solid rgb(0, 0, 255);
  background-color: rgb(231, 231, 255);
}

.columnDimensionsColumn {
  border: 1px solid rgb(0, 255, 0);
  background-color: rgb(150, 230, 174);
  display: grid;
  grid-auto-flow: column;
}

/* .rowDimensionsHeader, .columnDimensionsHeader, .pivotTableHeader {
  background-color: rgb(43, 43, 206);
  color: white;
}
.rowDimensionsHeader {
  grid-column-start: 1;
  display: grid;
  grid-auto-flow: column;
}

.columnDimensionsHeader {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-auto-flow: column;
  background-color: blueviolet;
}

.headerItem {
  background-color: pink;
  margin-left: 10px;
}

.mainRowDimension, .subRowDimension {
  margin-top: 5px;
}

.mainRowDimension {
  font-weight: 700;
}

.subRowDimension {
  grid-column-start: 2;
}

.subRowDimension > div {
  margin-bottom: 5px;
}

.pivotTableHeader {
  padding: 20px;
  font-weight: 700;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 48fr;
  background-color: rgb(206, 43, 206);
  color: white;
}

.columnDimensionsColumn {
  background-color:red;
  display: grid;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}

.rowDimensionsColumn {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
}

.metricData {
  margin-right: 10px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

.stateName {
  margin-right: 10px;
  background-color: brown;
} */

/* .pivotTableHeader {
  padding: 20px;
  font-weight: 700;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(206, 43, 206);
  color: white;
}

div.table, div.tr, div.row-td, div.col-td {
  border-width: 1px;
  border-style: solid;
}
div.table {border-color: black; display: table; }
div.tr {border-color: rgb(255, 0, 0); display: table-row; }
div.row-td {border-color: rgb(0, 4, 255); display: table-cell; }
div.col-td {border-color: rgb(136, 255, 0); display: table-cell} */